<p>This is an API created whilst studying at the Greenwich School of Management to serve a Mobile Ionic App.</p>
<p>The API can store Consultant, Item and Review data. Returning this data as JSON. The API can also receive Post requests from the mobile app and store data into the Review model.</p>
<p>I have included views to show the data in HTML form for clarity, you can check them out below.</p>

<table class="table table-hover">

  <tr class='success'>
    <th>Consultants</th>
    <th>Items</th>
    <th>Reviews</th>
  </tr>

  <tr>
    <td><%= @consultants.count %></td>
    <td><%= @items.count %></td>
    <td><%= @reviews.count %></td>
  </tr>

  <tr>
    <td><%= link_to 'HTML', consultants_path %></td>
    <td><%= link_to 'HTML', items_path %></td>
    <td><%= link_to 'HTML', reviews_path %></td>
  </tr>

  <tr>
    <td><%= link_to 'JSON', api_consultants_path %></td>
    <td><%= link_to 'JSON', api_items_path %></td>
    <td><%= link_to 'JSON', api_reviews_path %></td>
  </tr>

</table>
