<p>This is an API created whilst studying at the Greenwich School of Management to serve a Mobile Ionic App.</p>
<p>The API can store Consultant, Item and Review data. Returning this data as JSON. The API can also receive Post requests from the mobile app and store data into the Review model.</p>
<p>I have included views to show the data in HTML form for clarity, you can check them out below.</p>

<%= link_to 'Consultants in HTML', consultants_path %>
<br>
<%= link_to 'Items in HTML', items_path %>
<br>
<%= link_to 'Reviews in HTML', reviews_path %>
<br><br>

<%= link_to 'Consultants in JSON', api_consultants_path %>
<br>
<%= link_to 'Items in JSON', api_items_path %>
<br>
<%= link_to 'Reviews in JSON', api_reviews_path %>
<br><br>

Consultants in API: <%= @consultants.count %>
<br>
Items in API: <%= @items.count %>
<br>
Reviews in API: <%= @reviews.count %>
