<!DOCTYPE html>
<html>
<head>
  <title>MobileCwApi</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <a href="/"><h1>Greenwich Fitness API <small>Phil Brockwell</small></h1></a>

  <% if admin_signed_in? %>
    <%= link_to 'Sign out', destroy_admin_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_admin_session_path %>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

  <footer class='footer'>This is the footer</footer>

</body>
</html>
